{% extends 'blog5/base.html' %}

{% block content %}
{% include 'blog5/slide.html' %}
<div class="main">
  <div class="article_wrap">
    {% for article in article_list %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'blog5:detail' article.pk %}">{{ article.title }}</a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="{% url 'blog5:detail' article.pk %}">{{ article.title }}</a>
        </li>
        <li class="list-group-item">{{ article.created_at}}</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
