{% extends 'blog5/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->
          {% for article in article_list %}
            {% include 'blog5/modules/card.html' %}
          {% endfor %}

        </div>
        {% include 'blog5/modules/paginate.html' %}
      </div>
    </main>
    {% include 'blog5/modules/aside.html' %}
  </div>
</div>
{% include 'blog5/modules/footer.html' %}
{% endblock %}
