<div class="post-comments">
  <header>
    <h3 class="h6">コメント一覧<span class="no-of-comments">({{ article.comment_set.all|length }})</span></h3>
  </header>
  <!-- コメント欄 -->
  {% for comment in article.comment_set.all %}
  <div class="comment">
    <div class="comment-header d-flex justify-content-between">
      <div class="user d-flex align-items-center">
        <div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title"><strong>{{ comment.name }}</strong><span class="date">{{ comment.created_at }}</span></div>
      </div>
    </div>
    <div class="comment-body">
      <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
  </div>
</div>
