<div class="blog-posts"><a href="{% url 'blog5:detail' current_article.pk %}">
    <div class="item d-flex align-items-center">
      <div class="image"><img src="{{ current_article.image.url }}" alt="..." class="img-fluid"></div>
      <div class="title"><strong>{{ current_article.title }}</strong>
        <div class="d-flex align-items-center">
          <div class="views">{{ current_article.created_at|date:"Y-m-j H:i:s" }}</div>
          <div class="comments"><i class="icon-comment"></i>{{ current_article.comment_set.all|length }}</div>
        </div>
      </div>
    </div></a>
  </div>
