<div class="blog-posts"><a href="{% url 'blog5:detail' article.pk %}">
    <div class="item d-flex align-items-center">
      <div class="image"><img src="{{ article.image.url }}" alt="..." class="img-fluid"></div>
      <div class="title"><strong>{{ article.title }}</strong>
        <div class="d-flex align-items-center">
          <!-- <div class="views"><i class="icon-eye"></i> 500</div> -->
          <div class="comments"><i class="icon-comment"></i>12</div>
        </div>
      </div>
    </div></a>
  </div>
