<div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
  {% with next=article.get_next_by_created_at %}
    {% if next %}
      <a href="{% url 'blog5:detail' next.pk %}" class="prev-post text-left d-flex align-items-center">
        <div class="icon prev"><i class="fa fa-angle-left"></i></div>
        <div class="text"><strong class="text-primary">次の記事 </strong>
          <h6>{{ next.title }}</h6>
        </div>
      </a>
    {% else %}
      <div class="prev-post text-left d-flex align-items-center"></div>
    {% endif %}
  {% endwith %}

  {% with prev=article.get_previous_by_created_at %}
    {% if prev %}
      <a href="{% url 'blog5:detail' prev.pk %}" class="next-post text-right d-flex align-items-center justify-content-end">
        <div class="text"><strong class="text-primary">前の記事 </strong>
          <h6>{{ prev.title }}</h6>
        </div>
        <div class="icon next"><i class="fa fa-angle-right"></i></div>
      </a>
    {% else %}
      <div class="next-post text-right d-flex align-items-center justify-content-end"></div>
    {% endif %}
  {% endwith %}
</div>
