<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-template d-flex justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item"><a href="#!" class="page-link active">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
    {% endif %}

  </ul>
</nav>
